
.card{
    margin: 50px;
    display: inline-block;
    width: 150px;
    height: 150px;
    /* color: aliceblue; */
    /* background-color: rgb(0, 0, 0); */
    /* justify-content: space-evenly; */

}
.logout{
  color:rgb(243, 6, 6);
  /* margin-bottom: 25px; */
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
}
img{
    width: 150px;
    height: 150px;
    /* border: 1px solid pink; */
    /* border-radius: 25px; */

}
#hh{
  color: rgb(235, 165, 73);
  background-color: aquamarine;
}
*{
  /* background-color: aquamarine; */
}
